<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>antipax/rails_cache_wurfl @ GitHub</title>
	
	<style type="text/css">
		body {
  		margin-top: 1.0em;
  		background-color: #000000;
		  font-family: "helvetica"; 
  		color: #ffffff;
    }
    #container {
      margin: 0 auto;
      width: 700px;
    }
		h1 { font-size: 3.8em; color: #ffffff; margin-bottom: 3px; }
		h1 .small { font-size: 0.4em; }
		h1 a { text-decoration: none }
		h2 { font-size: 1.5em; color: #ffffff; }
    h3 { text-align: center; color: #ffffff; }
    a { color: #ffffff; }
    .description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px; font-style: italic;}
    .download { float: right; }
		pre { background: #000; color: #fff; padding: 15px;}
    hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
    .footer { text-align:center; padding-top:30px; font-style: italic; }
	</style>
	
</head>

<body>
  <a href="http://github.com/antipax/rails_cache_wurfl"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" /></a>
  
  <div id="container">

    <div class="download">
      <a href="http://github.com/antipax/rails_cache_wurfl/zipball/master">
        <img border="0" width="90" src="http://github.com/images/modules/download/zip.png"></a>
      <a href="http://github.com/antipax/rails_cache_wurfl/tarball/master">
        <img border="0" width="90" src="http://github.com/images/modules/download/tar.png"></a>
    </div>
      
    <h1><a href="http://github.com/antipax/rails_cache_wurfl">rails_cache_wurfl</a> 
      <span class="small">by <a href="http://github.com/antipax">antipax</a></span></h1>

    <div class="description">
      This plugin combines the persistence and quick access of memcachedb (http://www.memcachedb.org) with the WURFL (http://wurfl.sourceforge.net) to allow your Rails views to easily access the capabilities of the current user's handset or browsing device.
    </div>

    <p>The plugin uses Rails' built-in cache access functionality to access memcachedb through a memcached interface. Rake tasks are provided to download and uncompress the latest WURFL as well as update and/or populate your memcachedb with a new WURFL, even while your app is running.

Even though you could theoretically use memcached instead of memcachedb, you shouldn’t! You couldn’t use that instance for anything but the WURFL, because unused key-value pairs will be thrown out when there is no room for them and your lookups will start failing. Due to the (appropriate) behavior of memcached, you will not be notified! Memcachedb alleviates this problem because it will not throw out data without specifically being told to. Another advantage that you will lose if you use memcached is startup time; your server (or one process of your server cluster) will spend around a minute loading the WURFL from xml into the cache each time the memcached instance is restarted.

So: DON’T use memcached instead of memcachedb!!!

You could also theoretically use Tokyo Cabinet/Tyrant or any other persistent key-value datastore with a memcached interface, though I haven't tested it.

This plugin is best used if you already know a user is on a mobile phone. Other plugins handle this well. The WURFL doesn’t seem to report accurate capabilities for desktop web browsers.</p><h2>Dependencies</h2>
<p>Nokogiri, RSpec (if you wish to run the tests)</p>
<h2>Install</h2>
<p>script/plugin install git://github.com/antipax/rails_cache_wurfl.git

(If your memcachedb (or whatever memcached interfaced datastore you use) isn't running at localhost:21201, go to rails_cache_wurfl/lib/rails_cache_wurfl.rb and change the obvious-looking constant at the top to point to it.)

rake wurfl:update
rake wurfl:cache_update

In ApplicationController.rb (or wherever you're going to use WURFL):
  before_filter :set_wurfl
  
In your views:
  <% if handset_capability('mp3') %>
    <%= link_for_mp3 %>
  <% end %>

If you want to download the latest wurfl.xml and update the cache in place:
rake wurfl:update
rake wurfl:cache_update
</p>
<h2>License</h2>
<p>MIT</p>
<h2>Authors</h2>
<p>Eric Entin (eric@socialight.com)<br/><br/>      </p>
<h2>Contact</h2>
<p>Eric Entin (eric@socialight.com)<br/>      </p>


    <h2>Download</h2>
    <p>
      You can download this project in either
      <a href="http://github.com/antipax/rails_cache_wurfl/zipball/master">zip</a> or
      <a href="http://github.com/antipax/rails_cache_wurfl/tarball/master">tar</a> formats.
    </p>
    <p>You can also clone the project with <a href="http://git-scm.com">Git</a>
      by running:
      <pre>$ git clone git://github.com/antipax/rails_cache_wurfl</pre>
    </p>
      
    <div class="footer">
      get the source code on GitHub : <a href="http://github.com/antipax/rails_cache_wurfl">antipax/rails_cache_wurfl</a>
    </div>
    
  </div>

  <script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-9298420-1");
pageTracker._trackPageview();
} catch(err) {}</script>
</body>
</html>
